/*
 * Bettercare http://bettercare.co.za epub styles by Arthur Attwell http://arthurattwell.com/
 */

/* 
 * Structure
 */

body {
	font-family: "Source Sans Pro", "Helvetica", "Arial", sans-serif;
	font-size: 1em;
	line-height: 130%;
}

/* 
 * General typography 
 */

h1, h2, h3, h4, h5, h6 {
	font-weight: bold;
	line-height: 120%;
	page-break-after: avoid;
}
h1 {
	margin: 0.5em 0 1em 0;
	font-weight: bold;
	font-size: 2em;
}
h2 {
	margin: 1.5em 0 0.5em 0;
	padding-top: 0.5em;
}
h3 {
	margin-bottom: 0.5em;
}
h4 {
	font-weight: normal;
	font-style: italic;
	margin-bottom: 0.5em;
}
h5, h6 {
	font-size: 1em;
	font-weight: normal;
	font-style: italic;
	margin-bottom: 0.5em;
}
p, ul, ol, blockquote, dl {
	max-width: 40em;
}
p {
	margin: 0 0 0.5em 0;
}
p.chapter-number {
	font-weight: bold;
	font-size: 3.5em;
	margin: 0.5em 0;
	color: #e9e9e9;
}

/* 
 * Links
 */

a {
	text-decoration: none;
	color: #4f89d2;
}
a.button {
	display: block;
	border: 1px solid #666666;
	background-color: #ccc;
	padding: 0.5em;
	width: 9em;
	margin: 0;
	text-align: center;
	text-decoration: none;
	line-height: 100%;
}
a.button:hover {
	background-color: #4faad2;
}

/* 
 * Blockquotes. Note in Bettercare these are used for key-concept boxes by default.
 */

blockquote {
	clear: both;
	font-weight: bold;
	margin: 1em 0;
	padding: 0.5em 1em 0.5em 1em;
	border: 1px solid #666666;
}
blockquote p {
	margin: 0;
	padding: 0;
}
blockquote.box {
	background-color: inherit;
	color: inherit;
	font-weight: inherit;
	font-size: inherit;
	border: 1px solid #ccc;
}

/* 
 * Lists
 */

ul, ol {
	padding: 0 0 0 1.2em;
}
ul ul, ol ol {
	margin: 0;
}
ol ol {
	list-style-type: lower-alpha;
}
li blockquote {
	margin: 1em 0;
}
li p {
	margin: 0;
}

/* 
 * Definition lists. In Bettercare these are used by default for Notes.
 */
 
dl {
	color: #666;
}
dt {
	text-transform: uppercase;
	font-size: small;
	letter-spacing: 0.05em;
}
dd .table-caption {
	margin-top: 1em;
}

/* 
 * Unformatted text and code. In Bettercare, these are sometimes used to indicate manual notes, e.g. a history taken by a nurse.
 */
 
pre, code {
	white-space: pre-wrap;
}

/* Figures. Note: we use the blockquote element to wrap figures and their captions in valid XHTML. 
 * Use the .figure class for the blockquote wrapping an image and a caption. Add .fixed, .small and/or .large for layout and size options. */

blockquote.figure {
	clear: both;
	page-break-inside: avoid;
	background-color: inherit;
	font-size: inherit;
	font-weight: inherit;
	color: #666;
	border: 1px solid #666;
	margin: 1em 0;
	padding: 0.5em;
}
.figure p {
	clear: both;
	text-align: center;
	page-break-inside: avoid;
	page-break-before: avoid;
}
.figure p img {
	padding: 0.5em 0 1em 0;
	margin: 0 auto;
	max-width: 100%; 
}
.figure p:nth-child(2) {
	padding: 0.5em 0 0 0;
	border-top: 1px dashed #ccc;
	text-align: left;
}
.figure.x-small p img {}
.figure.small p img {}
.figure.large p img {
	max-height:inherit;
}

/*
 * Tables 
 */
 
table {
	border-collapse: collapse;
	margin: 0 0 1em 0;
}
thead, th, .table-subhead {
	page-break-after: avoid;
	background-color: #F2F2F2;
	line-height: 120%;
}
thead, th {
	font-weight: 600;
}
th, td {
	border: 1px solid #ccc;
	padding: 0.5em;
}
.table-row-stub {
	font-weight: 600;
}
td p {
	margin: 0;
	padding: 0;
}
td ul, td ol {
	margin: 0;
	padding: 0 0 0 1em;
}
.table-caption {
	page-break-after:avoid;
	font-style: italic;
}
.table-caption em {
	font-style: normal;
}

/*
 * Title page 
 */

.titlepage-title {
	font-size: 2em;
	font-weight: bold;
	margin: 20% 0 0 0;
	line-height: 100%;
}
.titlepage-subtitle {
	font-size: 1em;
	font-weight: bold;
	margin: 0 0 1em 0;
	line-height: 100%;
}
.titlepage-author {
	font-size: 1em;
	margin: 0 0 2em 0;
}
.titlepage-logo {
	width: 200px;
}

/*
 * Table of contents
 */

.toc h2 {
	font-weight: bold;
	font-size: 1.25em;
	margin: 1em 0 0.5em 0;
}
.toc ol {
	margin: 0;
	padding: 0;
}
.toc ul {
	list-style-type: none;
	margin: 0 0 1em 0;
	padding: 0;
}
.toc li {
	margin: 0 0 0.5em 0;
}
.toc li li {
	margin: 0 0 0 1em;
}
.toc a {
	text-decoration: none;
}

/*
 * Cover
 */

body.cover, div.cover {
	margin: 0;
	padding: 0;
	text-align: center;
}
p.cover {
	margin: 0;
	padding: 0;
	text-align: center;
	height: 100%;
}
img.cover {
	max-height: 100%;
	max-width: 100%;
	border: 1px solid #f9f9f9;
}
img.thumbnail {
	margin: 0 2em 0 0;
	height: 10em;
	float: left;
	border: 1px solid #f9f9f9;
}

/*
 * Tests
 */

.test ol li {
	margin: 0 0 1em 0;
 }
.test ol li li {
	list-style-type: lower-alpha;
	margin: 0;
}
.test .correct-answer {
	display: none;
	border: 1px solid #f2f2f2;
	padding: 0.1em 0.3em;
	margin: 0 0 0 0.5em;
}

/*
 * Video
 */

.videowrapper {
    float: none;
    clear: both;
    width: 100%;
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 25px;
    height: 0;
	margin: 0 0 1em 0;
}
.videowrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/*
 * Tricks
 */

.shrink {
	font-size: 0.7em; /* Useful for wide tables */
}
