/*
 * Bettercare http://bettercare.co.za epub styles by Arthur Attwell http://arthurattwell.com/
 */

/* 
 * Structure
 */

body {
	font-family: "Source Sans Pro", sans-serif;
	font-size: 1em;
	line-height: 140%;
	margin: 0;
}

/*
 * Tables 
 */
 
table {
	border-collapse: collapse;
	margin: 0 0 1em 0;
}
thead, th, .table-subhead {
	page-break-after: avoid;
	background-color: #F2F2F2;
	line-height: 120%;
}
thead, th {
	font-weight: 600;
}
th, td {
	border: 1px solid #ccc;
	padding: 0.5em;
}
.table-row-stub {
	font-weight: 600;
}
td p {
	margin: 0;
	padding: 0;
}
.table-caption {
	page-break-after:avoid;
	font-style: italic;
}
 
/*
 * Title page 
 */

.titlepage-title {
	font-size: 2em;
	font-weight: bold;
	margin: 20% 0 0 0;
	line-height: 100%;
}
.titlepage-subtitle {
	font-size: 1em;
	font-weight: bold;
	margin: 0 0 1em 0;
	line-height: 100%;
}
.titlepage-author {
	font-size: 1em;
	margin: 0 0 2em 0;
}
.titlepage-logo {
	width: 200px;
}

/*
 * Table of contents
 */

.toc h2 {
	font-weight: bold;
	font-size: 1.25em;
	margin: 1em 0 0.5em 0;
}
.toc ol {
	margin: 0;
	padding: 0;
}
.toc ul {
	list-style-type: none;
	margin: 0 0 1em 0;
	padding: 0;
}
.toc li {
	margin: 0 0 0.5em 0;
}
.toc li li {
	margin: 0 0 0 1em;
}
.toc a {
	text-decoration: none;
}

/* 
 * General typography 
 */
 
h1, h2, h3, h4, h5, h6 {
	font-weight: bold;
	line-height: 120%;
	page-break-after: avoid;
}
h1 {
	margin: 0.5em 0 1em 0;
	font-weight: bold;
	font-size: 2em;
}
h2 {
	margin: 1.5em 0 0.5em 0;
	padding-top: 0.5em;
}
h3 {
	margin-bottom: 0.5em;
}
h4 {
	font-weight: normal;
	font-style: italic;
	margin-bottom: 0.5em;
}
p, ul, ol, blockquote, dl {
	max-width: 40em;
}
p {
	margin: 0 0 0.5em 0;
}
p.chapter-number {
	font-weight: bold;
	font-size: 3.5em;
	margin: 0;
	color: #e9e9e9;
}

/* 
 * Links
 */

a {
	text-decoration: none;
	color: #4f89d2;
}

/* 
 * Blockquotes. Note in Bettercare these are used for key-concept boxes by default.
 */

blockquote {
	clear: both;
	font-weight: bold;
	margin: 1em 0;
	padding: 0.5em 1em 0.5em 1em;
	border: 1px solid grey;
	border-radius: 0.2em;
}
blockquote p {
	margin: 0;
	padding: 0;
}

/* 
 * Lists
 */

ul ul, ol ol {
	margin: 0;
}
li blockquote {
	margin: 1em 0;
}
li p {
	margin: 0;
}

/* 
 * Definition lists. In Bettercare these are used by default for Notes.
 */
 
dl {
	color: #666;
}
dt {
	text-transform: uppercase;
	font-size: small;
	letter-spacing: 0.05em;
}
dd .table-caption {
	margin-top: 1em;
}

/* 
 * Unformatted text and code. In Bettercare, these are sometimes used to indicate manual notes, e.g. a history taken by a nurse.
 */
 
pre, code {
	white-space: pre-wrap;
}

/* 
 * Figures and images
 */

img {
	max-width: 100%;
	margin: 1em 0;
}
.figure-caption {
	font-style: italic;
	page-break-before: avoid;
	margin: 0 0 1em 0;
}
.full-width img {
	width: 100%;
}
.full-page img {
	max-width: 100%;
}
.half-page img {
	max-width: 50%;
}
.quarter-page img {
	max-width: 25%;
}

/*
 * Cover
 */

body.cover, div.cover {
	margin: 0;
	padding: 0;
	text-align: center;
}
p.cover {
	margin: 0;
	padding: 0;
	text-align: center;
	height: 100%;
}
img.cover {
	max-height: 100%;
	max-width: 100%;
	border: 1px solid #f9f9f9;
}
img.thumbnail {
	margin: 0 2em 0 0;
	height: 10em;
	float: left;
	border: 1px solid #f9f9f9;
}

/*
 * Tests
 */

.test ol li {
	margin: 0 0 1em 0;
 }
.test ol li li {
	list-style-type: lower-alpha;
	margin: 0;
}
.test .correct-answer {
	display: none;
	border: 1px solid #f2f2f2;
	padding: 0.1em 0.3em;
	border-radius: 0.2em;
	margin: 0 0 0 0.5em;
}
