/* These styles are for use with Bettercare Jotform forms.
 * Import them using the CSS editor in Jotform. Everything marked !important because of the order Jotform injects CSS in.
 * Created by Arthur Attwell at Electric Book Works http://electricbookworks.com */

@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700,400italic,600italic,700italic);

/* Let's override all Jotform's responsive media queries */
@media 
	screen and 
	(max-width: 480px),
	(max-device-width: 768px), 
	(orientation: portrait), 
	(max-device-width: 415px),
	(orientation: landscape),
	(min-width: 480px),
	(max-width: 768px),
	(min-width: 768px),
	(max-width: 1024px),
	(min-width: 1024px) 
	{
		.jotform-form {
			padding: 0 !important;
		}
	}

.form-all {
    margin : 0 !important;
    padding-top : 0 !important;
    width : 90% !important;
    font-family : 'Source Sans Pro', sans-serif !important;
    font-size : 1.3em !important;
    border : none !important;
    box-shadow : none !important;
    -webkit-box-shadow : none !important;
}

.form-line {
    clear : both !important;
    margin : 0 !important;
    width : 100% !important;
    padding : 1em 0 0 0 !important;
    display : block !important;
    position : relative !important;
}

.form-section {
    list-style : none !important;
    list-style-position : outside !important;
    margin : 0 !important;
    padding : 0 !important;
    position : relative !important;
    zoom : 1 !important;
    clear : both !important;
}

.form-label-top, .form-label-left, .form-label-right, .form-checkbox-item label, .form-radio-item label {
    color : #000000 !important;
}

.form-label.form-label-left {
    width : inherit !important;
    font-weight : normal !important;
    margin-bottom : 1.25em !important;
    float : left !important;
    display : inline-block !important;
    text-align : left !important;
    padding : 0 1em 0 0 !important;
    white-space : normal !important;
    font-family : 'Source Sans Pro', sans-serif !important;
}

.form-radio-item label {
    margin-top : 0 !important;
    margin-bottom : 0.5em !important;
    font-family : 'Source Sans Pro', sans-serif !important;
    cursor : pointer !important;
}

.form-radio {
    vertical-align : top !important;
    margin : 0.25em 0.5em 0 0 !important;
    padding : 0 !important;
    float : left !important;
}

.form-radio-item input[type=radio] {
    /* display : none;
    Can't use this because iOS Safari 4 is crap */
}

.form-radio-item input[type=radio] + label {
    padding : 0.25em !important;
    margin : -0.25em 0 0.25em 0 !important;
    float : none !important;
}

.form-radio-item input[type=radio]:checked + label {
    padding : 0.25em !important;
    margin : -0.25em 0 0.25em 0 !important;
    font-weight : bold !important;
}

.form-submit-button, .form-submit-button:hover {
    margin : 0 !important;
    background : #4f89d2 !important;
    color : white !important;
    border-radius : 0.2em !important;
    border : none !important;
    font-family : 'Source Sans Pro', sans-serif !important;
    font-size : 1em !important;
    text-shadow : none !important;
    max-width : 30% !important;
}

.form-submit-button:hover, .form-pagebreak-back:hover, .form-pagebreak-next:hover {
    background : #4faad2 !important;
}

.form-input-wide {
    text-align : right !important;
}

.form-pagebreak-back, .form-pagebreak-next {
    margin : 0 !important;
    background : #4f89d2 !important;
    color : white !important;
    border-radius : 0.2em !important;
    border : none !important;
    font-family : 'Source Sans Pro', sans-serif !important;
    font-size : 1em !important;
    text-shadow : none !important;
}

.form-pagebreak-next-container {

}

.form-pagebreak-back-container {
    max-width : 5em !important;
}

.form-pagebreak {
    border : none !important;
}

.form-pagebreak-back {
    float : left !important;
}

.form-pagebreak-next, .form-pagebreak-next-container {
    float : right !important;
}

.form-textbox, .form-textarea {
    width : 15em !important;
    padding : 0.5em !important;
    font-family : "source sans pro", sans-serif !important;
    letter-spacing : 0.1em !important;
}
