@charset "utf-8";
/* Typography for Bettercare books
 * Author: Arthur Attwell arthur@electricbookworks.com
 * Updated: 4 August 2014 */

/* For PrinceXML/DocRaptor */

@page { 
	size: A5; 
	margin: 15mm 15mm 20mm 15mm;
	padding: 0;
	marks: crop;
}
.frontmatter {
	page: frontmatter;
}
.chapter, .test {
	page: chapter;
}
@page chapter {
	@bottom {
		content: counter(page);
		font-family: "Source Sans Pro", sans-serif;
		text-align: center;
		font-size: 0.8em;
	}
}
.chapter, .frontmatter { 
	page-break-before: always;
}
.toc a::after { 
	content: leader(" ") target-counter(attr(href), page) 
}
.toc ul, .toc ol {
	list-style-type: none;
}

/*
 * Title page
 */

.titlepage-title {
	font-size: 3em;
	font-weight: 700;
	font-family: "Source Sans Pro", sans-serif;
	margin: 20% 0 0 0;
	line-height: 100%;
}
.titlepage-subtitle {
	font-size: 3em;
	font-weight: 400;
	font-family: "Source Sans Pro", sans-serif;
	margin: 0 0 1em 0;
	line-height: 100%;
}
.titlepage-author {
	font-size: 1.5em;
	margin: 0 0 2em 0;
}
.titlepage-logo {
	width: 200px;
}

/*
 * Tests
 */

 .test ol li {
	margin: 0 0 1em 0;
 }
.test ol li li {
	list-style-type: lower-alpha;
	margin: 0;
}
.test .correct-answer {
	display: none;
	border: 1px solid #f2f2f2;
	padding: 0.1em 0.3em;
	border-radius: 0.2em;
	margin: 0 0 0 0.5em;
}

/* 
 * Generic output 
 */

body {
	font-family: "PT Serif", serif;
	font-size: 9pt;
	line-height: 140%;
	margin: 0;
	padding: 0;
}
h1, h2, h3, h4, h5, h6 {
	font-family: "Source Sans Pro", sans-serif;
	font-weight: 600;
	line-height: 120%;
	page-break-after: avoid;
}
h1 {
	font-weight: 300;
	font-size: 3.5em;
	max-width: 80%;
	line-height: 90%;
	page-break-before: always;
}
h2 {
	margin: 1.5em 0 0.5em 0;
	padding-top: 0.5em;
}
h3 {
	font-size: 1.3em;
	margin-bottom: 0.5em;
}
p {
	margin: 0 0 0.5em 0;
}
ul, ol {
	margin: 0 0 0.5em 0;
}
blockquote {
	font-family: "Source Sans Pro", sans-serif;
	background-color: #666;
	font-size: 120%;
	font-weight: 600;
	color: white;
	padding: 0.5em 0.8em;
	border-radius: 0.25em;
	margin: 1em 0;
}
blockquote p {
	margin: 0;
	padding: 0;
}
dl {
	font-family: "Source Sans Pro", sans-serif;
	color: #666;
	font-weight: 300;
	line-height: 120%;
}
dt {
	text-transform: uppercase;
	font-weight: 300;
	letter-spacing: 0.05em;
	page-break-after: avoid;
}
table {
	font-family: "Source Sans Pro", sans-serif;
	border-collapse: collapse;
	margin: 1em 0;
	page-break-inside: avoid;
}
th, td {
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	border-left: 1px dotted #f2f2f2;
	border-right: 1px dotted #f2f2f2;
	border-right: 0;
	padding: 0.15em 0.3em;
}
th {
	font-weight: 600;
}
.table-caption {
	page-break-after:avoid;
}
pre, code {
	font-family: "Source Code Pro", sans-serif;
	white-space: pre-wrap;
	line-height: 1em;
}
figure {
	margin: 1em 0;
	padding: 0;
	page-break-inside: avoid;
}
figcaption {
	font-style: italic;
}
a {
	text-decoration: none;
	color: inherit;
}