@charset "utf-8";
/* Typography for Bettercare books
 * Author: Arthur Attwell arthur@electricbookworks.com
 * Updated: 27 July 2014 */

/* For PrinceXML/DocRaptor */

@page { 
	size: A5; 
	margin: 5pt 5pt 5pt 8pt;
}
@page main {
	@bottom {
		content: counter(page)
	}
}
.pagenum {
	float: right;
	color: grey;
}

/* For general output */

body {
	font-family: "Merriweather", serif;
	font-size: 10pt;
	line-height: 140%;
	margin: 0;
	padding: 0;
}
#wrapper{
/*	width: 128mm;*/
	margin: auto;
}
h1, h2, h3, h4, h5, h6 {
	font-family: "Source Sans Pro", sans-serif;
	font-weight: 600;
	line-height: 120%;
}
blockquote {
	font-family: "Source Sans Pro", sans-serif;
	background-color: #666;
	font-size: 120%;
	font-weight: 600;
	color: white;
	padding: 0.2em 0.8em;
	border-radius: 0.25em;
	margin: 0.5em 0;
}
dl {
	font-family: "Source Sans Pro", sans-serif;
	color: #666;
	font-weight: 300;
}
dt {
	text-transform: uppercase;
	font-size: small;
	font-weight: 300;
	letter-spacing: 0.05em;
	page-break-after: avoid;
}
table {
	font-family: "Source Sans Pro", sans-serif;
	border-collapse: collapse;
}
th, td {
	border: 1px solid #ccc;
	padding: 0.5em;
}
pre, code {
	font-family: "Source Code Pro", sans-serif;
	white-space: pre-wrap;
}