/*
 * Bettercare http://bettercare.co.za screen styles by Arthur Attwell http://arthurattwell.com/
 * License: GNU General Public License v2
 * Requires Internet access for fonts. Or add @font-face rules and fonts for offline use.
 */

@charset "utf-8";

@font-face {
    font-family: "Source Sans Pro";
    src: url(fonts/SourceSansPro-Italic.ttf);
	font-weight: 400;
	font-style: italic;
}
@font-face {
    font-family: "Source Sans Pro";
    src: url(fonts/SourceSansPro-Regular.ttf);
	font-weight: 400;
}
@font-face {
    font-family: "Source Sans Pro";
    src: url(fonts/SourceSansPro-Semibold.ttf);
	font-weight: 600;
}
@font-face {
    font-family: "Source Sans Pro";
    src: url(fonts/SourceSansPro-SemiboldItalic.ttf);
	font-weight: 600;
	font-style: italic;
}
@font-face {
    font-family: "Source Sans Pro";
    src: url(fonts/SourceSansPro-Bold.ttf);
	font-weight: 700;
}
@font-face {
    font-family: "Source Sans Pro";
    src: url(fonts/SourceSansPro-BoldItalic.ttf);
	font-weight: 700;
	font-style: italic;
}

/* 
 * Structure
 */

body {
	font-family: "Source Sans Pro", sans-serif;
	font-size: 1.3em;
	line-height: 140%;
	margin: 0;
}
	@media (max-device-width: 1280px) and (orientation: landscape) { /* Targeting Bettercare's Galaxy Tab-based Learning Stations */
		body {
			font-size: 1.6em;
		}
	}
#wrapper{
	clear: both;
	max-width: 960px;
	margin: 6em auto; /* Keeps content showing below the fixed nav bar even when nav bar wraps */
	padding: 0 0.3em 0 0.3em;
}
#footer {
	clear: both;
	border-top: 1px solid #f9f9f9;
	margin: 2em 0 0 0;
	padding: 1em 0.3em 2em 0.3em;
}
.footer-content {
	clear: both;
	max-width: 960px;
	margin: auto;
	font-size: 0.8em;
	color: grey;
	line-height: 140%;
}

/* 
 * Navigation bar
 */
 
#nav-bar {
	position: fixed;
	top: 0;
	background-color: #f9f9f9;
	width: 100%;
	border-bottom: 1px solid #f2f2f2;
	padding: 0.2em 0 0 0;
}
	@media only screen 
	and (max-width : 984px) {
		#nav-bar {
			padding: 0.2em 0.2em 0 0.2em;
		}
	}
	@media only screen 
	and (max-width: 480px), (max-height: 600px) { /* Let nav-bar scroll out of view on small screens */
		#nav-bar {
			position: relative;
		}
	}
.nav-content {
	clear: both;
	max-width: 960px;
	margin: 0 auto;
}
a.nav-item {
	line-height: 100%;
	background-color: #4f89d2;
	display: block;
	float: left;
	padding: 0.5em 0.75em 0.5em 0.5em;
	color: white;
	border-radius: 0.5em 2em 2em 0.5em;
	margin-right: 0.2em;
	margin-bottom: 0.2em;
}
a.nav-item:hover {
	background-color: #4faad2;
}

/* 
 * General typography 
 */
 
h1, h2, h3, h4, h5, h6 {
	font-weight: 600;
	line-height: 120%;
	page-break-after: avoid;
}
h1 {
	margin: 0.5em 0 1em 0;
	font-weight: 600;
	font-size: 2.5em;
	max-width: 80%;
	line-height: 90%;
}
h2 {
	margin: 1.5em 0 0.5em 0;
	padding-top: 0.5em;
}
h3 {
	margin-bottom: 0.5em;
}
h4 {
	font-weight: normal;
	font-style: italic;
	margin-bottom: 0.5em;
}
p, ul, ol, blockquote, dl {
	max-width: 40em;
}
p {
	margin: 0 0 0.5em 0;
}
p.chapter-number {
	font-weight: bold;
	font-size: 3.5em;
	margin: 0;
	color: #e9e9e9;
}

/* 
 * Links
 */

a {
	text-decoration: none;
	color: #4f89d2;
}
a.button {
	display: block;
	border: 1px solid gainsboro;
	background-color: #4f89d2;
	color: white;
	padding: 0.5em;
	width: 9em;
	margin: 0;
	border-radius: 0.2em;
	text-align: center;
	text-decoration: none;
	line-height: 100%;
}
a.button:hover {
	background-color: #4faad2;
}
h1:target, h2:target, h3:target, h4:target, h5:target, h6:target {
	padding-top: 2.5em; /* Prevents #-linked headings from disappearing below the fixed nav bar. In concert with anchor.js. */
}

/* 
 * Blockquotes. Note in Bettercare these are used for key-concept boxes by default.
 */

blockquote {
	clear: both;
	color: white;
	background-color: #4fd298;
	font-weight: bold;
	margin: 1em 0;
	padding: 0.5em 1em 0.5em 1em;
	border-radius: 0.2em;
}
blockquote p {
	margin: 0;
	padding: 0;
}
blockquote.box {
	background-color: inherit;
	color: inherit;
	font-weight: inherit;
	font-size: inherit;
	border: 1px solid #ccc;
}

/* 
 * Lists
 */

ul, ol {
	padding: 0 0 0 1.2em;
}
ul ul, ol ol {
	margin: 0;
}
ol ol {
	list-style-type: lower-alpha;
}
li blockquote {
	margin: 1em 0;
}
li p {
	margin: 0;
}

/* 
 * Definition lists. In Bettercare these are used by default for Notes.
 */
 
dl {
	color: #666;
}
dt {
	text-transform: uppercase;
	font-size: small;
	letter-spacing: 0.05em;
}
dd .table-caption {
	margin-top: 1em;
}

/* 
 * Unformatted text and code. In Bettercare, these are sometimes used to indicate manual notes, e.g. a history taken by a nurse.
 */
 
pre, code {
	white-space: pre-wrap;
}

/* 
 * Figures and images
 */

img {
	max-width: 100%;
	margin: 1em 0;
}
.figure-caption {
	font-style: italic;
	page-break-before: avoid;
	margin: 0 0 1em 0;
}
.full-width img, img.full-width {
	width: 100%;
}
.full-page img, img.full-page {
	max-width: 100%;
}
.half-page img, img.half-page {
	max-width: 50%;
}
.quarter-page img, img.quarter-page {
	max-width: 25%;
}

/*
 * Tables 
 */
 
table {
	border-collapse: collapse;
	margin: 0 0 1em 0;
}
thead, th, .table-subhead {
	page-break-after: avoid;
	background-color: #F2F2F2;
	line-height: 120%;
}
thead, th {
	font-weight: 600;
}
th, td {
	border: 1px solid #ccc;
	padding: 0.5em;
}
.table-row-stub {
	font-weight: 600;
}
td p {
	margin: 0;
	padding: 0;
}
.table-caption {
	page-break-after:avoid;
	font-style: italic;
}
 
/*
 * Title page 
 */

.titlepage-title {
	font-size: 3em;
	font-weight: 700;
	margin: 20% 0 0 0;
	line-height: 100%;
}
.titlepage-subtitle {
	font-size: 3em;
	font-weight: 400;
	margin: 0 0 1em 0;
	line-height: 100%;
}
.titlepage-author {
	font-size: 1.5em;
	margin: 0 0 2em 0;
}
.titlepage-logo {
	width: 200px;
}

/*
 * Table of contents
 */

.toc h2 {
	font-weight: 400;
	font-size: 1.25em;
	margin: 1em 0 0.5em 0;
}
.toc ol {
	margin: 0;
	padding: 0;
}
.toc ul {
	list-style-type: none;
	margin: 0 0 1em 0;
	padding: 0;
}
.toc li {
	margin: 0 0 0.5em 0;
}
.toc li li {
	margin: 0 0 0 1em;
}
.toc a {
	text-decoration: none;
	border: 1px solid #f2f2f2;
	padding: 0.25em;
	margin: 0 0 0.5em 0;
	display: block;
	border-radius: 0.2em;
	background-color: #f9f9f9;
}
.toc li li a {
	color: silver
}
.toc a:hover {
	background-color: white;
}

/*
 * Cover
 */

body.cover, div.cover {
	margin: 0;
	padding: 0;
	text-align: center;
}
p.cover {
	margin: 0;
	padding: 0;
	text-align: center;
	height: 100%;
}
img.cover {
	max-height: 100%;
	max-width: 100%;
	border: 1px solid #f9f9f9;
}
img.thumbnail {
	margin: 0 2em 0 0;
	height: 10em;
	float: left;
	border: 1px solid #f9f9f9;
}

/* 
 * Index page 
 */

.index {
	margin-top: -5em;
}
.index h1 {
	text-align: center;
	margin: 1em 0;
	padding: 0;
	max-width: 100%;
	font-size: 1.5em;
	color: #a1a1a1;
	font-weight: 400;
}
.index-available {
	margin: 1em 0 1em -0.5em;
}
.index-coming-soon {
	text-align: center;
	border: 1px solid #f2f2f2;
	background-color: #f9f9f9;
}
.index .cover-thumb {
	border: 1px solid gainsboro;
	margin: 0.5em;
	width: 150px;
}
.index img.unavailable {
	opacity: 0.7;
}
.index-logo {
	text-align: center;
	margin: 1em 0;
	max-width: 100%;
}
#index-help a {
	position: fixed;
	right: 0;
	top: 0.8em;
	padding: 0.3em 0.5em;
	background-color: #89d24f;
	z-index: 1;
	color: white;
	min-width: 10%;
	border-radius: 0.2em 0 0 0.2em;
	font-size: 1em;
}
#index-help a:hover {
	background-color: #4faad2;
}
.index .about-wrapper {
	margin-top: 1em;
}
.index #about {
	display: none; /* Element hidden till show/hide script rewrites this line */
	border: 1px solid #e9e9e9;
	padding: 1em;
	border-radius: 0.2em;
	background-color: #f9f9f9;
}
.index a#about-hide {
	top: 2em;
	position: absolute;
}

/*
 * Tests
 */

.test ol li {
	margin: 0 0 1em 0;
 }
.test ol li li {
	list-style-type: lower-alpha;
	margin: 0;
}
.test .correct-answer {
	display: none;
	border: 1px solid #f2f2f2;
	padding: 0.1em 0.3em;
	border-radius: 0.2em;
	margin: 0 0 0 0.5em;
}
.live-test {
	display: none; /* Element hidden till show/hide script rewrites this line */
}
.live-test iframe {
	width: 100%;
	border: none;
	border-radius: 0.2em;
	padding: 0 0.5em;
	margin: 1em 0;
	height: 25em;
}
.test-result-page {
	margin: 5em 0 0 0;
}
.test-results iframe {
	width: 100%;
	border: none;
	border-radius: 0.2em;
	margin: 1em 0;
	padding: 0 0.5em;
	height: 150em;
}
.loading:before {
	content: "Loading…";
	text-align: center;
	margin: 2em 1em 1em 1em;
	position: absolute;
	z-index: -1;
}

/*
 * Video
 */

.videowrapper {
    float: none;
    clear: both;
    width: 100%;
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 25px;
    height: 0;
	margin: 0 0 1em 0;
}
.videowrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
