# ----------------------------------------------------------------------
# | Content Security Policy (CSP)                                      |
# ----------------------------------------------------------------------

<IfModule mod_headers.c>

    Header set Content-Security-Policy-Report-Only "report-uri //ls.bettercare.co.za/admin/csp-report-to-email.php; default-src 'self' ; font-src 'self' data: ; frame-ancestors 'none' http://bettercare.co.za/ ; frame-src http://form.myjotform.com https://www.youtube.com ; img-src 'self' http://www.google-analytics.com ; script-src 'self' http://www.google-analytics.com; style-src 'self' unsafe-inline http://ls.bettercare.co.za/js/anchor.js ; reflected-xss filter; "

</IfModule>