<p class="exam-version">Version: {{ site.time | date: '%-d %B %Y' }}</p>

<table class="examinee-details">
	<tr>
		<td style="width: 30%;">Name</td>
		<td style="width: 70%;"></td>
	</tr>
	<tr>
		<td>Date</td>
		<td></td>
	</tr>
	<tr>
		<td>Facilitator’s name</td>
		<td></td>
	</tr>
	<tr>
		<td>Your email</td>
		<td></td>
	</tr>
	<tr>
		<td>Your phone number</td>
		<td></td>
	</tr>
	<tr>
		<td>Your post address</td>
		<td></td>
	</tr>
</table>

<blockquote>
	<ul>
		<li>Fill in your details above.</li>
		<li>There are a total of 75 questions in this exam.</li>
		<li>You have 60 minutes.</li>
		<li>You need to score at least 80% to successfully complete the course.</li>
		<li>Clearly circle the one, most correct answer to each question.</li>
		<li>Do not talk or refer to any books or notes during the exam.</li>
	</ul>
</blockquote>
