
	<div id="footer" class="non-printing">
		<div class="footer-content">
			<p>
			<a href="{{ site.publisher-url }}" alt="{{ site.publisher }}" title="{{ site.publisher }}">{{ site.publisher }}</a> &bull; 
			<a href="{{ site.baseurl }}/">{{ site.name }}</a> &bull; 
			<a href="0-3-contents.html"><em>{{ page.book }}</em></a> &bull; 
			<a href="#">{{ page.title }}</a>
			</p>
			<p>You may share this book as allowed by the <a href="http://creativecommons.org/licenses/by-nc-nd/4.0/">Creative Commons Attribution NoDerivatives NonCommercial 4.0 Licence</a>: unchanged in its entirety for no commercial gain. For all other uses <a href="http://bettercare.co.za/contact">contact Bettercare</a>.</p>
		</div><!--.footer-content-->
	</div><!--#footer-->
