<!doctype html>
<html>
<head>
	<title>{{ site.name }}: {{ page.book }}: {{ page.title }}</title>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<meta property="og:title" content="{{ page.book }}: {{ page.title }}" />
	<meta property="og:type" content="website" />
	<meta property="og:url" content="{{ site.liveurl }}{{ page.url }}" />
	<meta property="og:image" content="{{ site.liveurl }}/images/bettercare-learning-station-og.gif" />
	<meta property="og:description" content="The Bettercare Learning Station is a simple, free way to learn, check your knowledge, and watch training videos on smartphones, tablets and computers." />
	<meta property="og:site_name" content="Bettercare Learning Station" />
	<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/css/screen.css" />

	<!--Links and meta for favicons from http://realfavicongenerator.net/-->
		<link rel="apple-touch-icon" sizes="57x57" href="{{ site.liveurl }}/images/icons/apple-touch-icon-57x57.png" />
		<link rel="apple-touch-icon" sizes="114x114" href="{{ site.liveurl }}/images/icons/apple-touch-icon-114x114.png" />
		<link rel="apple-touch-icon" sizes="72x72" href="{{ site.liveurl }}/images/icons/apple-touch-icon-72x72.png" />
		<link rel="apple-touch-icon" sizes="144x144" href="{{ site.liveurl }}/images/icons/apple-touch-icon-144x144.png" />
		<link rel="apple-touch-icon" sizes="60x60" href="{{ site.liveurl }}/images/icons/apple-touch-icon-60x60.png" />
		<link rel="apple-touch-icon" sizes="120x120" href="{{ site.liveurl }}/images/icons/apple-touch-icon-120x120.png" />
		<link rel="apple-touch-icon" sizes="76x76" href="{{ site.liveurl }}/images/icons/apple-touch-icon-76x76.png" />
		<link rel="apple-touch-icon" sizes="152x152" href="{{ site.liveurl }}/images/icons/apple-touch-icon-152x152.png" />
		<link rel="apple-touch-icon" sizes="180x180" href="{{ site.liveurl }}/images/icons/apple-touch-icon-180x180.png" />
		<link rel="shortcut icon" href="{{ site.liveurl }}/images/icons/favicon.ico" />
		<link rel="icon" type="image/png" href="{{ site.liveurl }}/images/icons/favicon-192x192.png" sizes="192x192" />
		<link rel="icon" type="image/png" href="{{ site.liveurl }}/images/icons/favicon-160x160.png" sizes="160x160" />
		<link rel="icon" type="image/png" href="{{ site.liveurl }}/images/icons/favicon-96x96.png" sizes="96x96" />
		<link rel="icon" type="image/png" href="{{ site.liveurl }}/images/icons/favicon-16x16.png" sizes="16x16" />
		<link rel="icon" type="image/png" href="{{ site.liveurl }}/images/icons/favicon-32x32.png" sizes="32x32" />
		<meta name="msapplication-TileColor" content="#2d89ef" />
		<meta name="msapplication-TileImage" content="{{ site.liveurl }}/images/icons/mstile-144x144.png" />
		<meta name="msapplication-config" content="{{ site.liveurl }}/images/icons/browserconfig.xml" />
	<!--End favicon links and meta-->

	<!-- Google Analytics-->
	<script src="{{ site.baseurl }}/js/google-analytics.js"></script>
	
	<!-- AnchorJS for deep-linking-->
	<script src="{{ site.baseurl }}/js/anchor.js"></script>
	
</head>
<body>
