
		<div id="nav-bar" class="non-printing">
			<div class="nav-content">
				<a id="help-show" class="button nav-item">Help</a>
				<a href="{{ site.baseurl }}/" class="nav-item">Library</a>
				<a href="0-3-contents.html" class="nav-item">{{ page.book }}</a>
				<a href="#" class="nav-item">{{ page.title }}</a>
			</div><!--.nav-content-->
		</div><!--#nav-bar-->
		
	<div id="help" class="non-printing">
		<a id="help-hide" class="button non-printing">Close help</a>
		<h2 id="how-to">How to use this Learning Station</h2>
		<p>On this Learning Station, you can read and test your knowledge. Tap on a book to open its chapter list. In each chapter, you can take a quiz to test your knowledge.</p>
		<p>To take tests, you must register with your email address or cell number. It is free to register and to take tests.</p>
		<p>For help email <a href="mailto:info@bettercare.co.za">info@bettercare.co.za</a> or call +27 21 671 1278.
		<h2 id="order">Printed books and CPD points</h2>
		<p>Learning is easiest with printed books. To order printed books, email <a href="mailto:info@bettercare.co.za">info@bettercare.co.za</a> or call +27 21 671 1278.</p>
		<p>If your institution subscribes with Bettercare, you can earn points for completing chapter tests. Visit <a href="http://bettercare.co.za">bettercare.co.za</a> for information.</p>
	</div><!--#help .non-printing-->
