<a id="live-test-show" href="#live-test" class="button non-printing">Open chapter test</a>

<div id="live-test" class="live-test non-printing">
	<a id="restart-test" href="" class="button non-printing">Close test</a>
	<div class="loading">
		<iframe class="autoHeight" src="http://quiz.bettercare.co.za/?qz={{ page.quiz-id }}&r=http://quiz.bettercare.co.za/login_form.php?qz={{ page.quiz-id }}"></iframe>
	</div><!--.loading-->
	<a href="" id="live-test-hide" class="button non-printing">Close test</a>
</div><!--#live-test .live-test .non-printing-->